@model IEnumerable<RegisterDataAccess.RegisterUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VoterId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeviceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Voting_Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VoterId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Voting_Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.User_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.User_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.User_Id })
        </td>
    </tr>
}

</table>
